* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100px;
}
body {
    display: flex;
    flex-direction: column;
    /* padding-left: 100px;
    padding-right: 100px; */
    /* margin-left: 100px;
    margin-right: 100px; */
}
.nav {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav, .subheading{
    padding: 0 350px;
}
.links {
    display: flex;
    gap: 22px;
}

.nav img {
    width: 125px;
    border: 1px solid black;
    border-radius: 5px;
    /* height: 70px; */
}
ul {
    list-style: none; 
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.subheading {
    background-color: #1F2937;
    /* background-color: rgb(148, 250, 148); */
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 200px;
}
.subheading img {
    width: 400px;
    height: 220px;
    border-radius: 3%;
}
.subheading h1 {
    font-size: 48px;
    font-weight:950;
    color: #f9faf8;
}
.subheading p {
    font-size: 18px;
    color: #E5E7EB;
}
.subheading .left-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.subheading .right-image {
    height: 220px;
}
.subheading h1 {
    line-height: 50px;
}
.subheading button {
    background-color: #3882f6;
    font-size: large;
    color: #E5E7EB;
    width: 120px;
    padding: 6px 9px;
    border-radius: 12px;
    font-weight: bolder;
    border-width: 0px;
}
.info {
    height: 520px;
    border: 1px solid;
    /* background-color: rgb(148, 250, 148); */
    display: flex;
    flex-direction: column;
    padding: 40px 130px;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
}
.info h2 {
    font-size: 36px;
    font-weight: 950;
    color: #1f2937;
}
.info .bar {
    display: flex;
    gap: 90px;
    /* align-items: flex-start; */
    /* justify-content: center; */
}
.info .bar .item {
    display: flex;
    flex-direction: column;
    width: 230px;
    gap: 14px;
    /* justify-content: center; */
    /* align-items: center; */
}
.info .bar .item img {
    width: 230px;
    height: 200px;
    /* border: #3882f6 3px solid; */
    /* border: #5f6268 3px solid; */
    border-radius: 7px;
}
.info .bar .item p {
    text-align: center;
    color: grey;
    font-weight: bold;
}
.testemonial {
    height: 400px;
    background-color: grey;
}