* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100px;
}
body {
    display: flex;
    flex-direction: column;
    /* padding-left: 100px;
    padding-right: 100px; */
    /* margin-left: 100px;
    margin-right: 100px; */
}
.nav {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav, .subheading{
    padding: 0 350px;
}
.links {
    display: flex;
    gap: 22px;
}

.nav img {
    width: 125px;
    border: 1px solid black;
    border-radius: 5px;
    /* height: 70px; */
}
ul {
    list-style: none; 
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.subheading {
    background-color: #1F2937;
    /* background-color: rgb(148, 250, 148); */
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 200px;
}
.subheading img {
    width: 400px;
    height: 220px;
}
.subheading h1 {
    font-size: 48px;
    font-weight:950;
    color: #f9faf8;
}
.subheading p {
    font-size: 18px;
    color: #E5E7EB;
}
.subheading .left-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.subheading h1 {
    line-height: 50px;
}
.subheading button {
    background-color: #3882f6;
    font-size: large;
    color: #E5E7EB;
    width: 120px;
    padding: 6px 9px;
    border-radius: 12px;
    font-weight: bolder;
    border-width: 0px;
}